<div id="<%= dom_id todo_item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= todo_item.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= todo_item.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Competed:</strong>
    <%= todo_item.competed %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this todo item", todo_item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this todo item', edit_todo_item_path(todo_item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
