<div id="<%= "#{dom_id(todo)}_container" %>">
  <div class="flex p-5 rounded-3xl bg-white ring-1 ring-black/5 relative justify-between items-start">
    <% if todo.complete? %>
      <%= button_to change_status_todo_path(todo, todo: { status: 'incomplete' }), class: "bg-green-600 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
        <span class="sr-only">Mark as incomplete</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
        </svg>
      <% end %>

      <%= link_to todo.title, edit_todo_path(todo), class: todo.complete? ? 'line-through' : '' %>
      <p><%= todo.description  %></p>
    <% else %>

      <div class="flex flex-col gap-0 w-full">
        <%= link_to  edit_todo_path(todo), class: "hover:opacity-80 transition-all duration-200 text-xl" do %>
          <%= todo.title %>
          <p class="opacity-70 leading-tight"><%= todo.description  %></p>
        <% end %>

        <div class='flex gap-2 justify-between mt-4  w-full'>

          <%= button_to change_status_todo_path(todo, todo: { status: 'complete' }), class: "ring-1 ring-[#427A74]/30 hover:ring-[#427A74] text-[#427A74] transition-all duration-300 hover:bg-[#427A74] rounded-full text-base px-8 hover:text-white py-1.5 text-medium inline-block ", method: :patch do %>
            <span class="sr-only">Mark as complete</span>
            <div>Done</div>
          <% end %>

          <div class="flex gap-2">

            <% if (todo.due_date.present?  && !todo.due_date.today?) || todo.due_date.nil? %>

              <% if todo.due_date.present? %>
                <%= link_to edit_todo_path(todo), class: "px-6 py-2 duration-200 transition-all bg-zinc-300/20 hover:bg-zinc-300/50 rounded-full text-base" do %>
                  <%= todo.due_date.strftime('%B %e') %>
                <% end %>
              <% else %>
                <%= link_to edit_todo_path(todo), class: "px-6 py-2 duration-200 transition-all bg-zinc-300/20 text-zinc-400 hover:bg-zinc-300/50 rounded-full text-base" do %>
                  Add Due Date
                <% end %>
              <% end %>
              <%= button_to "Today", update_to_today_todo_path(todo), method: :patch, remote: true, class: "px-6 py-2 duration-200 transition-all bg-zinc-300/20 hover:bg-zinc-300/50 rounded-full text-base" %>
              <%= button_to "Tomorrow", update_to_tomorrow_todo_path(todo), method: :patch, remote: true, class: "px-6 py-2 duration-200 transition-all bg-zinc-300/20 hover:bg-zinc-300/50 rounded-full text-base" %>
            <% end %>

          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>
