<div id="<%= "#{dom_id(todo)}_container" %>">
  <%= turbo_frame_tag dom_id(todo) do %>
    <div class="flex p-4 rounded-lg ring-1 group ring-zinc-400/20 hover:bg-[#F4ECE2]/40 relative justify-between items-start space-x-2">
      <% if todo.complete? %>
        <%= button_to change_status_todo_path(todo, todo: { status: 'incomplete' }), class: "bg-green-600 px-4 py-2 rounded hover:bg-green-700", method: :patch do %>
          <span class="sr-only">Mark as incomplete</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg>
        <% end %>

        <%= link_to todo.title, edit_todo_path(todo), class: todo.complete? ? 'line-through' : '' %>
        <p><%= todo.description  %></p>
      <% else %>
        <div class="flex gap-2">
          <%= button_to change_status_todo_path(todo, todo: { status: 'complete' }), class: "group ", method: :patch do %>
            <span class="sr-only">Mark as complete</span>
            <div class="relative">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-zinc-400" fill="currentColor" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Z"></path></svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 absolute opacity-0 text-green-600 top-0 left-0 duration-300 transition-all group-hover:opacity-100" fill="currentColor" viewBox="0 0 256 256"><path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"></path></svg>
            </div>
          <% end %>

          <div class="flex flex-col gap-0">
            <%= todo.title %>
            <p class="text-lg opacity-70 leading-tight"><%= todo.description  %></p>
          </div>
        </div>
      <% end %>

      <%= link_to  edit_todo_path(todo), class: "opacity-0 group-hover:opacity-100 z-50" do %>
<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 opacity-60 hover:opacity-100 transition-all duration-300" fill="currentColor"  viewBox="0 0 256 256"><path d="M221.66,90.34,192,120,136,64l29.66-29.66a8,8,0,0,1,11.31,0L221.66,79A8,8,0,0,1,221.66,90.34Z" opacity="0.2"></path><path d="M227.32,73.37,182.63,28.69a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H216a8,8,0,0,0,0-16H115.32l112-112A16,16,0,0,0,227.32,73.37ZM48,163.31l88-88L180.69,120l-88,88H48Zm144-54.62L147.32,64l24-24L216,84.69Z"></path></svg>
    <% end %>
    </div>
  <% end %>
</div>
