<div class="">
  <%= turbo_frame_tag "todos-container", class: "block max-w-5xl mx-auto w-full " do %>
    <div class="flex justify-between mb-8 w-full">
      <div class="flex gap-4">
          <%= link_to "Incomplete",
            todos_path(status: "incomplete"),
            class: "" 
          %>
          <%= link_to "Complete",
            todos_path(status: "complete"),
            class: ""
          %>
      </div>

    </div>
    <% unless params[:status] == "complete" %>

      <details class="flex mb-4 hidden w-full" >
        <%= render "form", todo: Todo.new %>
        <summary class="list-summary cursor-pointer font-medium my-4">
          <p>New Task</p>
        </summary>
      </details>

    <% end %>

    <div class="flex gap-8">

      <div class="w-1/3">
        August
      </div>
    <div id="todos" class="flex flex-1 flex-col gap-2">

      <%= render @todos %>
    </div>
    </div>
  <% end %>
</div>
