<%= content_for :subnav do %>
  <% I18n.t("date.month_names").compact.each_with_index do |month, index| %>
    <%= link_to month, journal_items_path(month: index + 1), class: "text-lg hover:text-purple-500" %>
  <% end %>

  <% unless params[:month].blank? || params[:month].to_i == Date.today.month %>
    <%= link_to "Today", journal_items_path, class: "text-lg bg-purple-200 fixed bottom-8 right-8 w-fit self-end px-8 py-1.5 mt-8 text-purple-500 rounded-full hover:text-purple-700" %>
  <% end %>
<% end %>

<div class="max-w-5xl mx-auto pb-40">
  <h1 class="font-light font-serif max-w-lg mb-12 text-5xl">Hey, Leonid! Remember what happens in <span class="italic"><%= @current_month_name %></span>?</h1>

  <%= link_to new_journal_item_path, class:"bg-white p-8 py-5 text-2xl font-light items-center rounded-2xl shadow-xl shadow-purple-400/10 font-serif text-purple-500 transition-all duration-300 hover:shadow-purple-400/30 hover:shadow-3xl mb-8 inline-flex gap-3 w-full justify-center" do %>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="currentColor" viewBox="0 0 256 256"><path d="M120,56,60.32,78.38a8,8,0,0,0-5.08,6.17L32,224l139.45-23.24a8,8,0,0,0,6.17-5.08L200,136Zm-4,104a20,20,0,1,1,20-20A20,20,0,0,1,116,160Z" opacity="0.2"></path><path d="M240,100.68a15.86,15.86,0,0,0-4.69-11.31L166.63,20.68a16,16,0,0,0-22.63,0L115.57,49.11l-58,21.77A16.06,16.06,0,0,0,47.35,83.23L24.11,222.68A8,8,0,0,0,32,232a8.4,8.4,0,0,0,1.32-.11l139.44-23.24a16,16,0,0,0,12.35-10.17l21.77-58L235.31,112A15.87,15.87,0,0,0,240,100.68Zm-69.87,92.19L55.32,212l47.37-47.37a28,28,0,1,0-11.32-11.32L44,200.7,63.13,85.86,118,65.29,190.7,138ZM104,140a12,12,0,1,1,12,12A12,12,0,0,1,104,140Zm96-15.32L131.31,56l24-24L224,100.68Z"></path></svg>
    Add Moment 
  <% end %>

  <% if @journal_items.empty? %>
    <p class="grid place-items-center h-full">Add memory about your or your beautiful family</p>
  <% else %>
    <div id="journal_items" class="w-full flex flex-col gap-32">
      <%= render @journal_items %>
    </div>
  <% end %>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
