<%= content_for :subnav do %>
  <% I18n.t("date.month_names").compact.each_with_index do |month, index| %>
    <%= link_to month, journal_items_path(month: index + 1), class: "text-base hover:text-purple-500" %>
  <% end %>

  <% unless params[:month].blank? || params[:month].to_i == Date.today.month %>
    <%= link_to "Today", journal_items_path, class: "text-lg bg-purple-200 fixed bottom-8 right-8 w-fit self-end px-8 py-1.5 mt-8 text-purple-500 rounded-full hover:text-purple-700" %>
  <% end %>
<% end %>

<div class="max-w-4xl pt-8 mx-auto pb-40">
  <h1 class="mb-10 font-medium text-3xl">Best moments from <span class=""><%= @current_month_name %></span></h1>

  <% if @journal_items.empty? %>
    <p class="grid place-items-center h-full">Add memory about your or your beautiful family</p>
  <% else %>
    <div id="journal_items" class="w-full flex flex-col gap-20">
      <%= render @journal_items %>
    </div>
  <% end %>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
