<main class="flex flex-col sm:flex-row">
  <div class="top-0 flex-shrink-0 pb-0 p-5 overflow-x-scroll disable-scrollbars sm:h-screen sm:sticky sm:w-1/3 min-w-fit">
    <div class="bg-[#231514] text-white overflow-x-hidden disable-scrollbars rounded-3xl sticky top-4 h-full p-8 pb-6">
      <div class="z-50 isolate relative h-full">
        <p class="font-semibold tracking-wide text-base opacity-60 mb-1">Kidsy.space</p>
        <h2 class="text-2xl font-light">Today, <%= Date.current.strftime("%B %d") %></h2>

      <div class="flex items-center h-full">
        <div>
        <h3 class="mb-5 font-light text-2xl">What you want to do today?</h3>

        <%= link_to todo_items_path, class: "flex hover:opacity-70 duration-300 transition-all mb-2 items-center gap-3" do %>
          <svg class="w-5 h-5 opacity-60" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_735_5641)">
            <path d="M10.5 18C14.6421 18 18 14.6421 18 10.5C18 6.35786 14.6421 3 10.5 3C6.35786 3 3 6.35786 3 10.5C3 14.6421 6.35786 18 10.5 18Z" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15.8027 15.8027L20.9993 20.9993" stroke="white" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_735_5641">
            <rect width="24" height="24" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          Find a task
        <% end %>

        </div>
      </div>

      <div class="flex gap-4 absolute bottom-0 w-full">
        <p class="w-fit px-12 bg-purple-500 text-opacity-70 cursor-wait text-white font-medium rounded-full text-center py-3 inline-block"><svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7 mx-auto" fill="currentColor" viewBox="0 0 256 256"><path d="M48,64a8,8,0,0,1,8-8H72V40a8,8,0,0,1,16,0V56h16a8,8,0,0,1,0,16H88V88a8,8,0,0,1-16,0V72H56A8,8,0,0,1,48,64ZM184,192h-8v-8a8,8,0,0,0-16,0v8h-8a8,8,0,0,0,0,16h8v8a8,8,0,0,0,16,0v-8h8a8,8,0,0,0,0-16Zm56-48H224V128a8,8,0,0,0-16,0v16H192a8,8,0,0,0,0,16h16v16a8,8,0,0,0,16,0V160h16a8,8,0,0,0,0-16ZM219.31,80,80,219.31a16,16,0,0,1-22.62,0L36.68,198.63a16,16,0,0,1,0-22.63L176,36.69a16,16,0,0,1,22.63,0l20.68,20.68A16,16,0,0,1,219.31,80Zm-54.63,32L144,91.31l-96,96L68.68,208ZM208,68.69,187.31,48l-32,32L176,100.69Z"></path></svg></p>

        <%= link_to "New Task", new_todo_item_path, class: "flex-1 hover:bg-orange-600 transition-all duration-300 bg-orange-500 text-white font-medium rounded-full text-center py-3 inline-block" %>
      </div>
      </div>
      <div class="rounded-full z-0 block blur-3xl top-1/2 hidden -translate-y-1/2 h-96 w-96 bg-orange-500 absolute left-1/2"></div>
    </div>
  </div>


  <div class="p-5 grow">
    <%= render "layouts/nav/main_nav" %>
    <%= yield %>
  </div>

</main>

<% parent_layout "base" %>
